%h1 modicon <span>a font icon for mode set</span>

%section.section
  .icon-column
    %div.modicon.modicon-crest
    %div.modicon.modicon-logotype
    %div.modicon.modicon-trademark
    %div.modicon.modicon-binary
    %div.modicon.modicon-mountains
    %div.modicon.modicon-plus
  .deets-column
    %pre
      :preserve
        .modicon.modicon-crest
        .modicon.modicon-logotype
        .modicon.modicon-trademark
        .modicon.modicon-binary
        .modicon.modicon-mountains
        .modicon.modicon-plus


%section.section
  .icon-column
    %div.modeset-crest
  .deets-column
    %pre
      :preserve
        .modeset-crest

%section.section
  .icon-column
    %div.modeset-logotype
  .deets-column
    %pre
      :preserve
        .modeset-logotype

%section.section
  .icon-column
    %div.modeset-typetrade
  .deets-column
    %pre
      :preserve
        .modeset-typetrade

%section.section
  .icon-column
    %div.modeset-logo
  .deets-column
    %pre
      :preserve
        .modeset-logo

%section.section
  .icon-column
    %div.modeset-logotrade
      %div.modeset-crest
      %div.modeset-typetrade
  .deets-column
    %pre
      :preserve
        .modeset-logotrade
          .modeset-crest
          .modeset-typetrade


%section.section
  .icon-column
    %h1.modeset-heading modeset heading
  .deets-column
    %pre
      :preserve
        .modeset-heading

%section.section
  .icon-column
    %ul.modeset-list
      %li List level 1
      %li<
        List level 1
        %ul
          %li Neseted list
          %li Neseted list
          %li Neseted list
      %li List level 1
      %li List level 1
      %li List level 1
  .deets-column
    %pre
      :preserve
        .modeset-list

%section.section
  .icon-column
    %ul.modeset-list.modeset-list-inverted
      %li List level 1
      %li<
        List level 1
        %ul
          %li Neseted list
          %li Neseted list
          %li Neseted list
      %li List level 1
      %li List level 1
      %li List level 1
  .deets-column
    %pre
      :preserve
        .modeset-list.modeset-list-inverted

